C_Web/C_Web/wwwroot/source/bootstrap-toggle-master/
C_Web/C_Web/wwwroot/source/bootstrap.zip
tree.txt
.github/workflows/CWeb20231114161034 - Web Deploy.yml
C_Web/C_Web/.config/dotnet-tools.json
C_Web/C_Web/Properties/serviceDependencies.CWeb20231114161034 - Web Deploy.json
C_Web/C_Web/Properties/serviceDependencies.json
C_Web/C_Web/Properties/ServiceDependencies/CWeb20231114161034 - Web Deploy/mssql1.arm.json
C_Web/C_Web/Properties/ServiceDependencies/CWeb20231114161034 - Web Deploy/profile.arm.json
