
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <h2>
                <i class="bi bi-people-fill"><strong>基礎檔新增&修改</strong></i>
            </h2>
            <hr />
            <div class="row g-12">
                <div class="card">
                    <h5 class="card-header" style="font-weight:bold">客戶基礎檔</h5>
                    <div class="card-body">
                        <a href="@Url.Action("ViewCusInfoBasic","CustomerBasic")" class="btn btn-dark" style="color:white; font-weight:bold;"> 新增&修改 </a>
                    </div>
                </div>
                <div class="col-1"> </div>
                <div class="card ">
                    <h5 class="card-header" style="font-weight:bold">聯絡人基礎檔</h5>
                    <div class="card-body">
                        <a href="@Url.Action("ViewCusContactBasic","CustomerBasic")" class="btn btn-dark" style="color:white; font-weight:bold;"> 新增&修改 </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




