    #income {
        position: relative;
    }

    #xepenses {
        position: relative;
    }

    .tab-title {
        list-style: none;
    }

    #tab {
        width: 100%;
    }

    #tab > ul {
        white-space: nowrap;
        margin: 0;
        list-style: none;
    }
    .modal-body > ul > li {
        text-align: center;
        white-space: nowrap;
        display: inline-flex;
        border-radius: 5px;
        margin: 2px 0 -12px 2px;
        height: 50px;
        width: auto;
        line-height: 24px;
        background-color: lightgray;
    }
    /*@media screen and (min-width: 780px) {
        #tab > ul > li {
            text-align: center;
            white-space: nowrap;
            display: inline-flex;   
            border-radius: 5px;
            margin: 2px 0 -12px 2px;
            height: 50px;
            width:auto;
            line-height: 24px;
            background-color: lightgray;
        }
    }

    @media screen and (max-width: 780px) {
        #tab > ul > li {
            text-overflow: ellipsis;
            overflow:hidden;
            text-align: center;
            white-space: nowrap;
            display: inline-flex;
            border-radius: 5px;
            margin: 2px 0 -12px 2px;
            height: 50px;
            width: 130px;
            line-height: 24px;
            background-color: lightgray;
        }
    }

    @media screen and (max-width: 770px) {
        #tab > ul > li {
            width: 100px;
        }
    }

    @media screen and (max-width: 690px) {
        #tab > ul > li {    
            width: 90px;
        }
    }
    @media screen and (max-width: 630px) {
        #tab > ul > li {
            width: 80px;
        }
    }
    @media screen and (max-width: 570px) {
        #tab > ul > li {
            width: 70px;
        }
    }
    @media screen and (max-width: 510px) {
        #tab > ul > li {
            width: 60px;
        }
    }
    @media screen and (max-width: 430px) {
        #tab > ul > li {
            width: 50px;
        }
    }
    @media screen and (max-width: 370px) {
        #tab > ul > li {
            width: 40px;
        }
    }
    @media screen and (max-width: 320px) {
        #tab > ul > li {
            width: 30px;
        }
    }
    @media screen and (max-width: 280px) {
        #tab > ul > li {
            width: 27px;
        }
    }*/
    #tab > ul > li a {
        color: #403e3e;
        font-size: 17px;
        font-weight: bold;
    }

    #tab > ul > li.active {
        background: #ffffff;
        border: 3px solid #403e3e;
    }

    #tab > .tab-inner {
        clear: left;
        color: #000;
        background: #ffffff;
    }

    .tab-inner {
        border-top: 3px solid #403e3e;
    }
