<style>
    .control-label{
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <h2>
                <i class="bi bi-pen-fill"><strong>授權更新</strong></i>
            </h2>
            <hr />
            <div class="row" style="margin-top:10px">
                <div class="col-md-12 col-xs-12 col-sm-12 breadcrumb" align="left">
                    <div class="col-md-4">
                        <input id="Rehashcode" type="text" hidden="hidden" />
                        <button type="button" id="copy" hidden="hidden"></button>
                        <div class="control-label" style="white-space: nowrap;">雜湊碼查詢：</div>
                        <input type="text" id="hashcode" @*style="width:300px;"*@ class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <div class="control-label">客戶：</div>
                        <select id="customer" class="form-control"></select>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label">測試/正式：</div>
                        <select id="version" class="form-control">
                            <option value="" selected>請選擇</option>
                            <option value="0">正式</option>
                            <option value="1">測試</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary search form-control">客 戶 授 權 查 詢</button>
                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("","License")" role="button" class="btn btn-success create form-control">新 增 授 權 序 號</a>
                </div>
            </div>


            <div class="row" style="margin-top:20px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table-bordered table-hover dt-center table dt-responsive nowrap licensetable con10" id="licensetable">
                        <thead>
                            <tr style="text-align:left;">
                                <th nowrap data-priority="1">序號</th>
                                <th nowrap data-priority="3">數量</th>
                                <th nowrap data-priority="4">客戶</th>
                                <th nowrap data-priority="5">授權類型</th>
                                <th nowrap data-priority="6">開始時間</th>
                                <th nowrap data-priority="7">結束時間</th>
                                <th nowrap data-priority="8">是否綁定</th>
                                <th nowrap data-priority="2"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
