<style>
    table.dataTable > tbody > tr.child ul li {
        text-align: left;
    }

    table.dataTable > tbody > tr.child ul {
        width: 100%;
    }

    td .toggle {
        float: inherit;
    }

    .dtr-data {
        font-weight: normal;
    }

    .dtr-title {
        font-size: 18px;
        margin-right: 5%;
    }

    .bg-orange {
        background: #F39C12 !important;
        color: #fff;
    }

    .control-label{
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12" align="left">
        @Html.AntiForgeryToken()
        <div class="item form-group">
            <div class="col-md-3">
                <div class="control-label">新增日期(起): </div>
                <input type="text" class="datepicker form-control" placeholder="YYYY-MM-DD HH:mm" id="sdate" name="sdate">
            </div>
            <div class="col-md-3">
                <div class="control-label">新增日期(迄): </div>
                <input type="text" class="datepicker form-control" placeholder="YYYY-MM-DD HH:mm" id="edate" name="edate">
            </div>
            <div class="col-sm-3">
                <div class="control-label">公司名稱:</div>
                <select id="company" class="form-control form-control-sm">
                    <option value="" selected="selected"></option>
                </select>
            </div>
            <div class="col-sm-3">
                <div class="control-label">統一編號:</div>
                <input id="unicode" type="text" class="form-control">
            </div>
        </div>
        <div class="item form-group">
            @* <div class="col-md-3 col-md-2">
                <div class="control-label">國家: </div>
                <select id="country" class="form-control">
                    <option value="">---請選擇---</option>
                </select>
            </div>
            <div class="col-md-3 col-md-2">
                <div class="control-label">省市區域: </div>
                <select id="zone" class="form-control" disabled></select>
            </div>
            <div class="col-md-3 col-md-2">
                <label class="control-label">鄉鎮區域: </label>
                <select id="dist" class="form-control" disabled> </select>
            </div> *@
            <div class="col-sm-3">
                <div class="control-label">類型:</div>
                <select id="type" class="form-control">
                    <option value="" selected="selected">全選</option>
                    <option value="1">廠商</option>
                    <option value="2">客戶</option>
                    <option value="3">皆是</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="item form-group">
            <div class="col-md-4">
                <button class="btn btn-primary btn-sm form-control form-control-sm search">查　詢</button>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action(" ", "Home")" role="button" class="btn btn-info btn-sm form-control form-control-sm">新　增</a>
            </div>
            <div class="col-md-4">
                <button onclick="UpFile()" class="btn btn-primary btn-sm form-control form-control-sm">匯　入</button>
            </div>
            <form action="@Url.Action(" ", "Home")" id="CsvForm" name="CsvForm" method="POST"
                  enctype="multipart/form-data" autocomplete="off" style="display:none">
                <input type="file" name="Csvfile" id="Csvfile" accept=".csv">
                <button id="ReadCsvFile" name="ReadCsvFile" type="submit"></button>
            </form>
            <input type="hidden" id="msg" value="@TempData["Message"]">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="tab-content">
                <div id="EventList" class="table-responsive">
                    <table class="table table-striped table-bordered dt-responsive nowrap datatable-responsive con16" id="datatable-responsive">
                        <thead>
                            <tr style="text-align:left;">
                                <th nowrap data-priority="1">公司名稱</th>
                                <th nowrap data-priority="3">公司簡稱</th>
                                <th nowrap data-priority="4">負責人</th>
                                <th nowrap data-priority="5">統一編號</th>
                                <th nowrap data-priority="6">電話</th>
                                <th nowrap data-priority="7">E-mail</th>
                                <th nowrap data-priority="8">營業地址</th>
                                <th nowrap data-priority="9">類&emsp;型</th>
                                <th nowrap data-priority="10">更新人員</th>
                                <th nowrap data-priority="11">新增人員</th>
                                <th nowrap data-priority="12">修改時間</th>
                                <th nowrap data-priority="13">新增時間</th>
                                <th nowrap data-priority="14">國&emsp;家</th>
                                <th nowrap data-priority="15">縣&emsp;市</th>
                                <th nowrap data-priority="16">鄉&emsp;鎮</th>
                                <th nowrap data-priority="17">公司成立日期</th>
                                <th nowrap data-priority="2"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit Model-->
<div class="modal fade" id="Ereate" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        </div>
    </div>
</div>