<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - C_Web</title>
    <!-- jQuery -->
    <script src="~/source/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/source/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
    <script src="~/source/jquery-ui-1.13.2.custom/jquery-ui.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/additional-methods.min.js"></script>
    <script src="~/source/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/source/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <!-- Bootstrap -->
    <link href="~/source/bootstrap-4.6.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/source/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/source/bootstrap-4.6.2-dist/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/source/bootstrap-4.6.2-dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <!-- bootstrap datetimepicker -->
    <link href="~/source/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/source/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" />
    <script src="~/source/js/moment.min.js"></script>
    <script src="~/source/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- select2 -->
    <link href="~/source/select2/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/source/select2/dist/js/select2.min.js"></script>
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link href="~/source/datatables/datatables.css" rel="stylesheet" />
    <link href="~/source/css/datatables.min.css" rel="stylesheet" />
    <script src="~/source/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/source/datatables.net/js/jquery.datatables.min.js"></script>
    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/fa42898e94.js" crossorigin="anonymous"></script>
    
    <link href="~/source/css/site.css" rel="stylesheet" />
    <link href="~/source/css/LoginBoxStyle.css" rel="stylesheet" />
    <link href="~/source/css/datatables.min.css" rel="stylesheet" />
</head>


<body class="nav-md">
    <div style="display:flex; height: 100vh; width:100%;">
        <div style="flex:none; width:15%">
            @await Html.PartialAsync("_LeftMenu")
        </div>
        <div style="display: flex; width:3%;"></div>
        <div style="flex:none; width:81%">
            @RenderBody()
        </div>
    </div>
    

    @await RenderSectionAsync("Scripts", required: false)
    <!-- Bootstrap -->
    <script src="~/source/bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/source/js/bootstrap2-toggle.min.js"></script>
    <script src="~/source/js/site.js"></script>
    <script src="~/source/DataTables/datatables.min.js"></script>

</body>
</html>
